:root {
  --toolbar-background: white;
  --toolbar-height: 54px;
  --arrow-color: grey;
  --background: rgba(255, 255, 255, 1);
  --selected: rgb(79, 79, 79);
  --button: rgba(0, 0, 0, 0.05);
  --button-hover: rgba(0, 0, 0, 0.1);
  --highlight: #c99797ff;
  --border-color: #1a1a1a;
  --font: roboto;
  --fontSize: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: var(--toolbar-height) 0 0 0;
  background: var(--background);
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: green;
}

.app {
  height: calc(
    100vh - var(--toolbar-height) - 8px
  ); /* 8px is weird but necessary */
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--toolbar-height);
  background-color: var(--toolbar-background);
  opacity: 1;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;
  border-bottom: 2px solid;
}

.toolbarButton {
  background-color: var(--button);
  height: fit-content;
  border-width: 1px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  padding: 2px, 5px;
}
.toolbarButton:hover {
  background-color: var(--button-hover);
}
.toolbarButton:active {
  background-color: #1a1a1a;
}

.about {
  position: absolute;
  background-color: var(--background);
  left: 10px;
  max-width: 25%;
  height: max-content;
  top: calc(var(--toolbar-height) - 10px);
  padding: 10px;
  border: #1a1a1a solid;
  border-radius: 10px;
}

.scanModule {
  width: 100%;
  min-height: calc(100% - var(--toolbar-height));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.inputArea {
  width: 50%;
  min-height: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize);
  line-height: 1.5;
  resize: none;
  outline: none;
  border-style: none;
  padding: 10px;
  margin: 0 0 0 10px;
}

.outputArea {
  min-height: calc(100% - var(--toolbar-height));
  height: fit-content;
  width: 50%;
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.line {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: var(--fontSize);
}

.lineSelection {
  padding: 3px;
  margin: 3px;
  border-bottom: 3px solid rgb(102, 102, 102);
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.naturalQ {
  background-color: rgb(255, 192, 181);
}

.fullScan {
  background-color: rgb(144, 255, 149);
}

.info {
  position: relative;
  font-size: 50%;
  margin: 10px;
}

.info::before,
.info::after {
  --scale: 0;
  --arrow-size: 10px;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 100ms transform;
}

.info::before {
  --translate-y: calc(-100% - var(--arrow-size));

  transform-origin: bottom center;
  background-color: var(--arrow-color);
  width: max-content;
  content: attr(data-tooltip);
  padding: 0.25rem;
  border-radius: 5px;
  text-align: center;
  font-family: roboto;
  font-size: 125%;
}

.info::after {
  --translate-y: calc(-1.1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--arrow-color);
}

.info:hover::after,
.info:hover::before {
  z-index: 100;
  --scale: 1;
}
