* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  width: fit-content;
  display: contents;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 5px 4px -4px rgb(0 0 0 / 37%);
}

.headerItem {
  width: fit-content;
  text-align: center;
  margin: 0;
  padding: 10px;
  &:hover {
    background-color: rgb(0 0 0 / 20%);
    transition: all ease 1s;
  }
}

.aboutArea {
  padding: 10px;
}

.aboutBox {
  padding: 5px;
  box-shadow: 0 3px 4px -4px rgb(0 0 0 / 37%);
}

.aboutTitle {
  width: fit-content;
  text-decoration: underline;
  &:hover {
    background-color: rgb(0 0 0 / 20%);
    transition: all ease 1s;
  }
}

.visibleLink {
  text-decoration: dotted;
  color: blue;
}

.ScanArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: clamp(320px, 85%, 1280px);
  outline: none;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
}

.optionsBox {
  border-bottom: 1px black solid;
  padding: 0 10px;
}

.optionButton {
  width: fit-content;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0 0 0 / 40%);
  background: white;
  border: none;
  border-bottom: solid white 2px;
  &:hover {
    background-color: rgb(0 0 0 / 5%);
  }
  &:active {
    background-color: rgb(0 0 0 / 10%);
  }
  &:disabled {
    background: white;
    color: rgb(0 0 0 / 10%);
  }
}

.selectedMeter {
  color: rgb(26, 115, 232);
  border-bottom: solid rgb(26, 115, 232) 2px;
  transition: color ease 1s, border-bottom ease 1s;
}

.IOArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
}

.outputArea,
.inputArea {
  border-radius: 8px;
  resize: none;
  width: 50%;
  border: none;
  &:focus {
    outline: none;
  }
}

.scanSelection {
  display: flex;
  justify-content: space-between;
}

.lineList {
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
}

.outputText {
  margin: 0 5px;
}

.tooltip {
  //this is naughty....
  position: relative;
  width: 30px;
  height: 30px;
  &::before {
    //controll how/where the tooltip renders
    --scale: 0;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 100ms transform;

    //controll what the tooltip looks like
    background-color: rgb(255 255 255);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    width: max-content;
    padding: 2px;
    border-radius: 5px;
    line-height: 20px;
    content: attr(tooltip);
  }

  &:hover::before {
    z-index: 100;
    --scale: 1;
  }
}

.icon {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  transform: scale(75%);
}
